//Main menu options
$menu-background-color:       $yellow;
$menu-breakpoint:             lg;

//Menu padding's
$menu-open-background-color:   $black;
$menu-padding-sm:              25px 0; //or null
$menu-padding-md:              25px 0; //or null
$menu-padding-lg:              25px 0; //or null
$menu-padding-xl:              25px 0; //or null

//Menu links
$menu-letter-spacing:          1px;
$menu-line-height:             44px;
$menu-color:                   $white;

//Menu links fonts
$menu-font-size-sm:            16px; //or null
$menu-font-size-md:            16px; //or null
$menu-font-size-lg:            16px; //or null
$menu-font-size-xl:            16px; //or null

$menu-text-transform:          true;
$menu-color-hover:             $black;

//Logo options
$logo-width-sm:                50px; //or null
$logo-width-md:                70px; //or null
$logo-width-lg:                70px; //or null
$logo-width-xl:                70px; //or null

//Burger
$burger-color-is-active:       $white;
$burger-color:                 $black;

.menu-container {
  background-color: $menu-background-color;

  //If menu position fixed
  &.menu-fixed {
    position: fixed;
    width: 100%;
  }

  //Is scrolling
  &.is-scroll {

  }

  //Is active menu
  &.is-active {
    .burger {
      span {
        background: $burger-color-is-active;

        &:nth-child(1) {
          top: 18px;
          width: 0;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 18px;
          width: 0;
          left: 50%;
        }
      }
    }

    .screen-navigation {
      visibility: visible;
      opacity: 1;
    }
  }

  .no-relative {
    position: inherit;

    @include breakpoint($menu-breakpoint) {
      position: relative;
    }
  }
}

.menu-container-wrapper {
  padding: $menu-padding-sm;

  @if $menu-font-size-md != null {
    @include breakpoint(md) {
      padding: $menu-padding-md;
    }
  }

  @if $menu-font-size-lg != null {
    @include breakpoint(lg) {
      padding: $menu-padding-lg;
    }
  }

  @if $menu-font-size-xl != null {
    @include breakpoint(xl) {
      padding: $menu-padding-xl;
    }
  }
}

// Logo
.menu-logo {
  width: 100%;
  max-width: $logo-width-sm;

  @if $logo-width-md != null {
    @include breakpoint(md) {
      max-width: $logo-width-md;
    }
  }

  @if $logo-width-lg != null {
    @include breakpoint(lg) {
      max-width: $logo-width-lg;
    }
  }

  @if $logo-width-xl != null {
    @include breakpoint(xl) {
      max-width: $logo-width-xl;
    }
  }
}

// Burger
.nav-button {
  position: relative;
  width: 32px;
  height: 18px;
  margin: 0 0 0 auto;
  cursor: pointer;
  z-index: 200;

  @include breakpoint($menu-breakpoint) {
    display: none;
  }

  .burger {
     position: relative;
     transform: rotate(0deg);
     transition: .6s ease-in-out;

     span {
       display: block;
       position: absolute;
       height: 2px;
       width: 100%;
       background: $burger-color;
       border-radius: 9px;
       opacity: 1;
       left: 0;
       transform: rotate(0deg);
       transition: .3s ease-in-out;

       &:nth-child(1) {
         top: 0;
       }

       &:nth-child(2),
       &:nth-child(3) {
         top: 8px;
       }

       &:nth-child(4) {
         top: 16px;
       }
     }
   }
}

//Menu
.screen-navigation {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .3s linear;

  @include breakpoint($menu-breakpoint) {
    visibility: visible;
    opacity: 1;
  }

  .inner-wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $menu-open-background-color;
    text-align: center;
    z-index: 100;
    transition: .2s ease;

    @include breakpoint($menu-breakpoint) {
      background: transparent;
      height: 100%;
      top: 0;
    }
  }
}

.navigation-list {
  @include center;
  margin: 0;
  padding: 0;
  transition: .5s ease;

  @include breakpoint($menu-breakpoint) {
    display: flex;
    left: auto;
    right: 0;
    padding: 15px 0;
    transform: translateX(0) translateY(-50%);
  }

  .navigation-point {
    @include breakpoint($menu-breakpoint) {
      display: inline-block;
    }

    @include breakpoint($menu-breakpoint) {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    .navigation-link {
      @if $menu-text-transform == true {
        text-transform: uppercase;
      }
      position: relative;
      color: $menu-color;
      letter-spacing: $menu-letter-spacing;
      line-height: $menu-line-height;
      font-size: $menu-font-size-sm;
      transition: .2s ease;
      white-space: nowrap;

      @if $logo-width-md != null {
        @include breakpoint(md) {
          font-size: $menu-font-size-md;
        }
      }

      @if $logo-width-lg != null {
        @include breakpoint(lg) {
          font-size: $menu-font-size-lg;
        }
      }

      @if $logo-width-xl != null {
        @include breakpoint(xl) {
          font-size: $menu-font-size-xl;
        }
      }

      &:hover {
        color: $menu-color-hover;
      }
    }
  }
}
