<!DOCTYPE html>
<html lang="pl_PL">
<head>
    {{> meta
        title="Name"
        url_site="Hello"
        author="Hello"
        site_name="Hello"
        keywords="Hello"
        copyright="Hello"
        description="Hello"
        color_site="fff"
        share_image="hello"
    }}
</head>
<body>
{{> preloader}}
<header>
    {{> header}}
</header>
<main>
    <h1>
        Hello
    </h1>
</main>
<footer>
    {{> footer}}
</footer>
{{> scripts}}
</body>
</html>