.container {
  display: block;
  width: 100%;
  padding: $base-padding-page-mobile;

  @include breakpoint(md) {
    padding: $base-padding-page-medium;
  }

  @include breakpoint(xl) {
    padding: $base-padding-page-large;
  }
}

.no-relative {
  position: inherit;
}
